fastapi
uvicorn[standard]
sqlalchemy
alembic
bcrypt
python-jose[cryptography]
python-multipart
jinja2
aiofiles2
pydantic
pydantic-settings
python-dotenv
passlib
qrcode[pil]
cryptography
emails
itsdangerous
aiosmtplib
pytest
pytest-asyncio
httpx